@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
}

/* Shared Style */
.display-flex{
    display: flex;
}

.text-primary{
    color: #FF900E;
} 

/* Dark 02 */
.text-gray{
    color: #424242;
}

/* Dark 03 */
.text-light-gray{
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 85px;
}

/* Header Style */

/* Navbar Related Style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: bold;
    font-size: 2.7rem;
}
.nav-item{
    list-style: none;
    font-size: 1.1rem;
    margin-left: 80px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0px auto;
    padding: 50px 0px;
}

/* Banner Related Style */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-tittle{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner-description{
    margin-bottom: 30px;
    font-size: 1rem;
}
.banner-image{
    width: 100%;
}

/* Team and Feature Related Style */
.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.section-tittle{
    font-size: 2.7rem;
    font-weight: 700;
    margin-bottom: 14px;
}
#quick-list{
    font-size: 2.7rem;
    font-weight: 500;
}

.section-description{
    margin-bottom: 24px;
}

/* Feature Section Related Style */

.features{
    gap: 146px;
}
#feature-section-tittle{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 24px;
}
.feature-card{
    padding: 30px 42px 30px 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 20px;
}
.feature-tittle{
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 10px;
}
.experience-badge{
    padding: 46px 42px;
    font-family: "Work Sans", serif;
    font-size: 4rem;
    font-weight: bold;
    line-height: 70px;
}
.experience-year{
    font-family: "Work Sans", serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 40px;
}
.btn-experience{
    margin-left: -100px;
    margin-top: -123px;
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
/* Some Facts Related Style */

.facts-container{
    width: 1340px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.7rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-name{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 5px;
}
.fact-description{
    max-width: 542px;
    margin-bottom: 50px;
}
/* Sponsor Related Styles */
.sponsor-info{
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 50px;
}
.sponsor-companies img{
    filter: grayscale(100%);
}
.our-sponsors{
    margin-bottom: 100px;
}

/* Responsive Media Query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .teams,
    .features{
        flex-direction: column;
    }
    .nav-item{
        margin-left: 0;
        margin-top: 20px;
    }
    .banner{
        margin: 0px 20px;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        margin-right: 20px;
        margin-left: 20px;
    }
    .our-features{
        margin: 40px 30px;
        justify-content: center;
    }
    .facts-container{
        max-width: calc( 100% - 40px );
        margin-left: 20px;
        margin-right: 20px;
        justify-content: center;
        justify-items: center; /* justify-items: center; */
        align-items: center;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .facts-summary{
        margin: 20px;
    }
    .fact-description{
        max-width: 100%;
    }
    .sponsor-companies{
        grid-template-columns: 1fr;
        gap: 50px;
        justify-items: center;
    }
    .sponsor-info{
        max-width: calc( 100% - 40px );
        margin-right: 20px;
        margin-left: 20px;
    }
    .features{
        margin: 20px;
        gap: 50px;
    }
    .features img{
        width: 100%;
    }
    .btn-experience{
        /* max-width: calc( 100% - 40px );
        margin: 30px 20px;
        background-color: #FF900E;
        color: white;
        padding: 20px 25px;
        font-size: 1.25rem;
        font-weight: 600;
        border: none;
        border-radius: 8px; */
        display: none;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar{
        margin-left: 30px;
        margin-right: 30px;
    }
    .nav-item{
        margin-left: 30px;
    }
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 40px 20px;
        max-width: 700px;
    }
    .team-img-container{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 20px;
        margin-right: 20px;
    }
    .banner{
        margin: 0px 20px;
    }
    .facts-summary{
        margin: 20px auto;
        max-width: 60%;
        text-align: center;
    }
    .facts-container{
        max-width: calc( 100% - 40px );
        margin-left: 20px;
        margin-right: 20px;
        justify-items: center; /* justify-items: center; */
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    .fact-description{
        max-width: 100%;
    }
    .sponsor-info{
        max-width: calc( 100% - 40px );
        margin-right: 20px;
        margin-left: 20px;
    }
    .sponsor-companies{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        margin: 0 20px 50px 20px;
        justify-items: center;
    }
    .features{
        flex-direction: column;
        margin: 40px;
        gap: 80px;
    }
    .features img{
        width: 100%;
    }
    .btn-experience{
        margin: 30px auto;
        background-color: #FF900E;
        color: white;
        padding: 20px 25px;
        font-size: 1.25rem;
        font-weight: 600;
        border: none;
        border-radius: 8px;
    }
}